<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <description>redis配置</description>

    <!-- 读取redis的配置-->
    <context:property-placeholder location="classpath:redis.properties" />
<!--  	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.pool.maxIdle}" />
        <property name="maxTotal" value="${redis.pool.maxActive}" />  
        <property name="maxWaitMillis" value="${redis.pool.maxWait}" /> 
        <property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />
        <property name="testOnReturn" value="${redis.pool.testOnReturn}" />
    </bean> -->
    
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
    </bean>  

    <!-- 操作模板 -->  
    <bean id="jedisTemplate" class="org.springframework.data.redis.core.RedisTemplate">  
       <property name="connectionFactory" ref="jedisConnectionFactory"/>  
       <property name="keySerializer">  
              <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>  
       </property>  
       <property name="valueSerializer">  
              <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>  
       </property>  
    </bean>  
    
</beans>